<div class="main-container">
    <header class="header header-4">
      <div class="branding">
          <clr-icon shape="crown" class="is-solid"></clr-icon>
            <span class="title">COVID-19 Dashboard</span>
    </div>
    </header>
    <div class="content-container">
        <div class="content-area">
          <div class="clr-row" *ngIf="worldstats">
            <div class="clr-col-lg-4 clr-col-12">
                <div class="card">
                  <div class="card-header">
                    Worldwide Recorded Cases
                  </div>
                    <div class="card-block">
                        <p class="card-text">
                          <span class="p2">{{worldstats.cases}}</span> 
                        </p>
                    </div>
                </div>
            </div>
            <div class="clr-col-lg-4 clr-col-12">
                <div class="card ">
                  <div class="card-header">
                    World wide Recovered Cases
                  </div>
                    <div class="card-block">
                        <p class="card-text">
                          <span class="p2">{{worldstats.recovered}}</span>
                        </p>
                    </div>
                   
                  </div>
            </div>
            <div class="clr-col-lg-4 clr-col-12">
                <div class="card ">
                  <div class="card-header">
                    World wide Death Cases
                  </div>
                    <div class="card-block">
                        <p class="card-text">
                          <span class="p2">{{worldstats.deaths}}</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
          <div class="clr-row">
            <div class="clr-col-6">
                <input clrInput type="text" placeholder="Country,country.. Enter" #country id="search"
                (keyup.enter)='searchcountry(country.value)'/>
                <button class="btn btn-primary" (click)='searchcountry(country.value)'>Search</button>
            </div>
          </div>
          <div class="clr-row">

            <div class="clr-col-12">
              <clr-datagrid>
                <clr-dg-column>#</clr-dg-column>
                <clr-dg-column>Country</clr-dg-column>
                <clr-dg-column>Cases</clr-dg-column>
                <clr-dg-column>Today Cases</clr-dg-column>
                <clr-dg-column>Deaths</clr-dg-column>
                <clr-dg-column>Today Deaths</clr-dg-column>
                <clr-dg-column>Recovered</clr-dg-column>
                <clr-dg-column>active cases</clr-dg-column>
                <clr-dg-column>Last update</clr-dg-column>
            
                <clr-dg-row *ngFor="let country of countries">
                    <clr-dg-cell><img [src]="country.countryInfo.flag" width="50"/></clr-dg-cell>
                    <clr-dg-cell>{{country.country}}</clr-dg-cell>
                    <clr-dg-cell>{{country.cases}}</clr-dg-cell>
                    <clr-dg-cell>{{country.todayCases}}</clr-dg-cell>
                    <clr-dg-cell>{{country.deaths}}</clr-dg-cell>
                    <clr-dg-cell>{{country.todayDeaths}}</clr-dg-cell>
                    <clr-dg-cell>{{country.recovered}}</clr-dg-cell>
                    <clr-dg-cell>{{country.active}}</clr-dg-cell>
                    <clr-dg-cell>{{country.updated | date:'shortTime'}}</clr-dg-cell>
                    
                </clr-dg-row>
            
                <clr-dg-footer>{{countries.length}} countries</clr-dg-footer>
            </clr-datagrid>
            </div>
          </div>
        </div>
    </div>
</div>

  





<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<router-outlet></router-outlet>